:root {
  --oui-font-family: 'Manrope', sans-serif;
  --oui-font-size-base: 16px;

  /* colors */
  --oui-color-primary: 46 199 85;
  --oui-color-primary-light: 135 217 155;
  --oui-color-primary-darken: 8 71 61;
  --oui-color-primary-contrast: 203 205 203;

  --oui-color-link: 75 226 153;
  --oui-color-link-light: 161 232 172;

  --oui-color-secondary: 255 255 255;
  --oui-color-tertiary: 218 218 218;
  --oui-color-quaternary: 218 218 218;

  --oui-color-danger: 232 89 89;
  --oui-color-danger-light: 249 164 164;
  --oui-color-danger-darken: 237 38 48;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 18 253 174;
  --oui-color-success-light: 112 255 207;
  --oui-color-success-darken: 0 255 136;
  --oui-color-success-contrast: 255 255 255;

  --oui-color-warning: 255 209 70;
  --oui-color-warning-light: 255 229 133;
  --oui-color-warning-darken: 255 136 0;
  --oui-color-warning-contrast: 255 255 255;

  --oui-color-fill: 36 32 47;
  --oui-color-fill-active: 40 46 58;

  --oui-color-base-1: 75 160 100;
  --oui-color-base-2: 48 208 88;
  --oui-color-base-3: 36 96 73;
  --oui-color-base-4: 51 46 66;
  --oui-color-base-5: 48 208 88;
  --oui-color-base-6: 36 153 108;
  --oui-color-base-7: 112 112 112;
  --oui-color-base-8: 29 26 38;
  --oui-color-base-9: 18 23 19;
  --oui-color-base-10: 2 39 27;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 62 187 27;

  --oui-color-trading-loss: 255 20 20;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 0 255 110;
  --oui-color-trading-profit-contrast: 255 255 255;

  /* gradients */
  --oui-gradient-primary-start: 40 0 97;
  --oui-gradient-primary-end: 189 107 237;

  --oui-gradient-secondary-start: 81 42 121;
  --oui-gradient-secondary-end: 176 132 233;

  --oui-gradient-success-start: 1 83 68;
  --oui-gradient-success-end: 41 223 169;

  --oui-gradient-danger-start: 153 24 76;
  --oui-gradient-danger-end: 245 97 139;

  --oui-gradient-brand-start: 231 219 249;
  --oui-gradient-brand-end: 159 107 225;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 152 58 8;
  --oui-gradient-warning-end: 255 209 70;

  --oui-gradient-neutral-start: 27 29 24;
  --oui-gradient-neutral-end: 38 41 46;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}

html, body {
  font-family: 'Manrope', sans-serif !important;
  font-size: 16px !important;
}